.headerWrp {
  display: flex;
  background-color: white;
  padding: 1em 0 1em;
}

.userWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.userStatus {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}

.statusLabel:global(.ui.basic.label) {
  border: none;
  padding: 0.3em;
  margin-left: 10px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.statusInput:global(.ui.input>input)  {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 0.1em;
  color: gray;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:read-only {
    padding: 0;
    border: none;
  }
}
