.hidden {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global(.ui.button).formBtn {
  align-self: flex-end;
  margin-bottom: 30px;
  &.hidden {
    display: none;
  }
}

:global(.ui.image).profileImg {
  margin-bottom: 15px;
  border-radius: 50%;
  &.hidden {
    display: none;
  }
}

:global(.ui.button).imgBtn{
  margin-bottom: 15px;
  &.hidden {
    display: none;
  }
}

.imgBtnLabel {
  margin: 0 0 0 10px;
  cursor: pointer;
}

:global(.ui.form .field).username {
  display: flex;
  flex-direction: column;
}

.crop {
  margin-bottom: 15px;
  :global(.ReactCrop__crop-selection) {
    border-radius: 50%;
  }
}

:global(.ui.input input) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


:global(.ui.form .disabled.field) {
  opacity: 1 !important;
  :global(.ui.disabled.input) {
    opacity: .65;
  }
}
