.item {
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 100px;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

:global(.blurring.dimmed.dimmable > :not(#root)) {
  filter: none;
}
